<button type='button' class='btn <%= btn_class %> dropdown-toggle'
  data-toggle='dropdown'>
  <span data-search='current-category'>{{currentCategory.display}}</span>
  <span class="caret"></span>
</button>

<ul class="dropdown-menu">
  <li data-ng-repeat='category in categories'>
    <a data-search-category='{{category.name}}'
       data-ng-bind='category.display'
       data-ng-click="setCategory(category.name)">
    </a>
  </li>
</ul>