<section>
	<%
	add_button_options = false
	delete_options = false
	data = { album: @album.id }
	
	if current_user.admin?
		add_button_options = {
			mode: :inline,
			url: edit_album_url(@album)
		}
		
		delete_options = {
			url: album_path(@album, format: :json),
			method: :put,
			data: "{ songs: { removed: [song.id] } }"
		}
		
		data[:sortable] = sort_album_path(@album, format: :json)
	end
	
	
	%>
	<%= render partial: 'shared/lists/list', locals:
	{
		collection: @album.ordered_songs,
		resource: 'songs',
		show_add_button: add_button_options,
		data: data,
		delete: delete_options
	} %>
</section>