<% if current_user.admin? %>

	<% if @song.duplicates.size > 0 %>
		<section>
			<h1><%= t 'duplicatable.duplicates' %></h1>
			<ul class='list' data-list='songs'>
				<%= render partial: 'songs/song', collection: @song.duplicates, locals: {
					delete: { method: :patch, data: { song: { archetype: nil }}, 
						title: t('duplicatable.unmark.description', archetype: @song),
						confirm: '' }
				} %>
			</ul>
		</section>
	<% end %>

	<section>
		<h1><%= t 'duplicatable.candidates' %></h1>
		<ul class='list' data-list='songs'>
			<%= render partial: 'songs/song', collection: @song.duplicate_candidates,
				locals: { archetype: @song } %>
		</ul>
	</section>
	
<% end %>