<% resource = nil unless defined? resource %>

<% hide = "style=display:none;" %>

<div class="alert" <%= hide unless any_errors?(resource) %>>
	<%= pretty_errors(resource) if any_errors?(resource) %>
</div>

<div class="notice" <%= hide unless flash[:notice].present? %>>
	<%=h(flash[:notice]) if flash[:notice].present? %>
</div>