<div id="login-links">
	<%- if controller_name != 'sessions' && 
	    (request.format == :embedded or controller_name != "accounts")  %>
	  <%= link_to t("accounts.login.link"),
	    new_user_session_path, target: '_self' %>
	<% end -%>

	<%- if request.format == :embedded and controller_name != "accounts" %>
	  <%= link_to t("accounts.join.link"),
	    new_user_registration_path, target: '_self' %>
	<% end -%>
	
	<%- if devise_mapping.recoverable? && controller_name != "passwords" %>
		<%= link_to t("accounts.password.link"),
		  new_user_password_path, target: '_self' %>
	<% end %>

	<%- if devise_mapping.lockable? && controller_name != "unlocks" &&
	    resource_class.unlock_strategy_enabled?(:email) %>
		<%= link_to t("accounts.unlock.link"),
		  new_user_unlock_path, target: '_self' %>
	<% end %>
</div>