<%
services = [
	{ :name => "Twitter" },
	{ :name => "Facebook" },
	{ :name => "Google", :link_name => "google_oauth2" },
	{ :name => "Vimeo" },
	{ :name => "LinkedIn", :link_name => "linked_in" },
	{ :name => "SoundCloud" }
]
%>
<div class='text-center login-services'>
  <% services.each do |service| %>
    <% link_path = service[:link_name] || service[:name].downcase %>
    <% icon = service[:icon] || service[:name].downcase %>
    <%= link_to "/auth/#{link_path}", class: 'btn btn-default' do %>
      <span class='fa fa-<%= icon %>'/>
      <%= service[:name] %>
    <% end %>
  <% end %>
</div>