<article>
	<section>
		<% if params[:thanks] %>
			<div class='notice'><%= t 'money.thanks' %></div>
		<% end %>
		<h1><%= t "pages.pages.money.title" %></h1>
		<p><%=t "money.text_html"%></p>
	</section>
	<aside>
		<section data-type='bonus'>
			<%= image_tag 'gfx/money.png', class: 'featured' %>
		</section>
	</aside>
</article>