<%
res = t("#{@resource.pluralize}.singular")
%>

<article class='error'>
	<section>
		<h1><%=t "pages.pages.error_404.header", resource: res %></h1>
		<p><%=t "pages.pages.error_404.text", resource: res %></p>
	</section>
	<aside>
		<section data-type='bonus'>
			<%= image_tag 'gfx/icons/512/404.png', class: 'featured' %>
		</section>
	</aside>
</article>