= media_list_item genre do |m|

  - m.title genre, badge: local_assigns[:badge].present?
  
  - m.buttons do
          
    = render partial: 'media/playlists/menu', locals: { songs: genre.songs.rank.limit(10).map(&:id) }
      
    = link_to '#', class: 'btn btn-xs btn-link' do
      %span.fa.fa-fw.fa-play
      = t 'media.genres.play'
  
  / content
  TODO