ul.list .item .album-back
{
	background-image: asset-data-url('gfx/icons/256/album_background.png');
	box-shadow: 0 0 10px rgba($shadow, 0.5);
	
	.album-front
	{
		background-image: asset-data-url('gfx/icons/256/album_foreground.png');
	}
}